.date {
    float: right;
    padding-top: 23px;
    text-decoration: underline;
}

h2 {
    display: inline;
}

h2.title {
    display: inline-block;
    width: 85%;
}

.buttonBar {
    float: right;
    text-decoration: none;
}

.buttonBar a {
    text-decoration: none;
}

.newsBlock {
    margin-bottom: 80px;
    word-wrap: break-word;
}

#deleteBtn {
    text-align: right;
}

#myButton {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #ffffff;
}

.brief {
    width: 85%;
}
